# backend
APP_PORT=8000

# db
DATABASE_PORT=54321
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=blog_db

LOCAL_DATABASE_URL=postgresql://postgres:password@localhost:54321/blog_db
DOCKER_DATABASE_URL=postgresql://postgres:password@db:5432/blog_db

# jwt
SECRET_KEY=supersecret_blog_be_key
